.footer-container {
  width: 100%;
  height: 60px;
  background-color: #696969;
  text-align: center;
  // display: flex;
  // justify-content: space-between;
  color: white;
  margin-bottom: -200px;
  list-style: none;
  overflow: hidden;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  // right: 0;
  padding: 1rem;
  margin-top: 300px;
  // align-content: center;

  & .item-container {
    width: 100%;
    align-content: center;
    position: absolute;
    width: 100%;
    overflow: hidden;

    & .footer-sec-social-media {
      float: left;
      text-align: left;
      width: 33.33%;
      list-style: none;

      & .list {
        list-style: none;
      }
    }
    & .customer-service-sec {
      text-align: center;
      float: left;
      width:  33.34%;
      list-style: none;

      & .list {
        list-style: none;
      }
    }
      .footer-sec{
        float: right;
        text-align: center;
        width: 33.33%;
        list-style: none;
        // width: 40px;
        // height: 40px
        // margin: 5% 0;
        // align-content: center;

        & .list {
          list-style: none;
        }
      }
  }
}
